body {
    background-color: rgb(244, 247, 250);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: rgb(70, 130, 180); 
  }
   
  h2 {
    color: rgb(95, 158, 160);
  } 
    
  p {
    color: rgb(120, 132, 140);
  }
  
  img {
    width: 175px;
    height: auto;
    display:inline-block;
  }
  